/* =========================
GLOBAL
========================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:
        Inter,
        "Segoe UI",
        Arial,
        sans-serif;

    overflow-x:hidden;

    color:white;

    background:
        radial-gradient(circle at top left,
        rgba(0,247,255,0.15),
        transparent 30%),

        radial-gradient(circle at bottom right,
        rgba(255,0,212,0.15),
        transparent 30%),

        linear-gradient(
            135deg,
            #050816,
            #09101f,
            #0b1225,
            #111827
        );

    background-size:400% 400%;

    animation:bgMotion 14s ease infinite;
}

/* =========================
BACKGROUND ANIMATION
========================= */

@keyframes bgMotion{

    0%{
        background-position:0% 50%;
    }

    50%{
        background-position:100% 50%;
    }

    100%{
        background-position:0% 50%;
    }

}

/* =========================
CURSOR GLOW
========================= */

.cursor-glow{

    position:fixed;

    width: 500px;;
    height:500px;

    border-radius:50%;

    background:
        radial-gradient(
            circle,
            rgba(0,247,255,0.22),
            transparent 90%
        );

    pointer-events:none;

    transform:translate(-50%,-50%);

    z-index:-1;

    filter:blur(15px);
}

/* =========================
NAVBAR
========================= */

.navbar{

    position:fixed;

    top:0;

    width:100%;

    padding:20px 8%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    background:rgba(0,0,0,0.35);

    backdrop-filter:blur(14px);

    z-index:1000;
}

/* =========================
LOGO
========================= */

.logo{

    display:flex;

    align-items:center;

    gap:2px;

    font-size:2.3rem;

    font-weight:800;

    color:#00f7ff;

    letter-spacing:0.5px;

    line-height:1;

    padding:0;

    margin:0;

    transform:translateY(-2px);

}

/* LOGO IMAGE */

.logo-img{

    width:75px;

    height:75px;

    object-fit:contain;

    display:block;

    margin:0;

    padding:0;

    transform:translateY(1px);

    filter:
        drop-shadow(
            0 0 12px rgba(0,247,255,0.8)
        );

}

/* TEXT */

.logo span{

    display:flex;

    align-items:center;

    line-height:1;

    margin:0;

    padding:0;

}
.nav-links{

    display:flex;

    list-style:none;

    gap:30px;
}

.nav-links a{

    text-decoration:none;

    color:white;

    font-weight:600;

    transition:0.3s;
}

.nav-links a:hover{

    color:#00f7ff;

    text-shadow:
        0 0 10px #00f7ff;
}

.menu-toggle{

    display:none;

    font-size:2rem;

    cursor:pointer;

    color:white;
}
/* THEME TOGGLE */

.nav-actions{

    display:flex;

    align-items:center;

    gap:20px;
}

.theme-toggle{

    width:45px;
    height:45px;

    display:flex;

    justify-content:center;

    align-items:center;

    border-radius:50%;

    background:rgba(255,255,255,0.08);

    border:1px solid rgba(255,255,255,0.1);

    cursor:pointer;

    font-size:1.2rem;

    transition:0.3s ease;

    backdrop-filter:blur(10px);

}

.theme-toggle:hover{

    transform:scale(1.1);

    box-shadow:
        0 0 15px rgba(0,247,255,0.4);

}

/* =========================
HERO
========================= */

.hero{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:120px 8%;

    gap:80px;

    flex-wrap:wrap;
}

.hero-left{

    flex:1;

    min-width:300px;

    transition:0.2s ease-out;
}

.hero-left h3{

    color:#00f7ff;

    font-size:1.4rem;

    letter-spacing:3px;

    margin-bottom:15px;

    font-weight:700;
}

.hero-left h1{

    font-size:5rem;

    line-height:1.05;

    margin-bottom:25px;

    font-weight:800;

    color:white;

    text-shadow:
        0 0 10px rgba(255,255,255,0.15),
        0 0 30px rgba(255,255,255,0.05);
}

.hero-left h2{

    font-size:1.8rem;

    color:#ff00d4;

    margin-bottom:20px;

    font-weight:700;

    min-height:50px;

    text-shadow:
        0 0 12px rgba(255,0,212,0.45);
}

.hero-left p{

    max-width:650px;

    line-height:1.9;

    color:#f0f0f0;

    font-size:1.05rem;

    font-weight:500;
}

/* =========================
BUTTONS
========================= */

.hero-buttons{

    margin-top:35px;

    display:flex;

    gap:20px;

    flex-wrap:wrap;
}

.btn{

    padding:15px 30px;

    border-radius:14px;

    text-decoration:none;

    font-weight:700;

    transition:0.25s ease-out;
}

.primary-btn{

    background:#00f7ff;

    color:black;

    box-shadow:
        0 0 25px rgba(0,247,255,0.45);
}

.primary-btn:hover{

    transform:
        translateY(-5px)
        scale(1.03);
}

.secondary-btn{

    border:2px solid #00f7ff;

    color:white;
}

.secondary-btn:hover{

    background:#00f7ff;

    color:black;
}

/* =========================
IMAGE
========================= */

.hero-right{

    flex:1;

    display:flex;

    justify-content:center;

    transition:0.2s ease-out;
}

.image-container{

    width:390px;
    height:490px;

    border-radius:35px;

    overflow:hidden;

    border:3px solid rgba(0,247,255,0.7);

    background:rgba(255,255,255,0.05);

    backdrop-filter:blur(20px);

    box-shadow:
        0 0 25px rgba(0,247,255,0.45),
        0 0 70px rgba(255,0,212,0.15);

    transition:
        transform 0.15s ease-out;
}

.image-container img{

    width:100%;

    height:100%;

    object-fit:cover;
}

/* =========================
SECTIONS
========================= */

section{

    padding:100px 8%;
}

.section-title{

    text-align:center;

    font-size:3rem;

    margin-bottom:60px;

    color:#00f7ff;

    font-weight:800;

    text-shadow:
        0 0 20px rgba(0,247,255,0.4);
}

/* =========================
CARDS
========================= */

.about-container,
.project-grid,
.contact-container{

    display:grid;

    grid-template-columns:
        repeat(auto-fit,minmax(300px,1fr));

    gap:30px;
}

.skills-grid{

    display:grid;

    grid-template-columns:
        repeat(auto-fit,minmax(180px,1fr));

    gap:25px;
}

.about-card,
.project-card,
.family-card,
.contact-card{

    background:rgba(255,255,255,0.08);

    backdrop-filter:blur(18px);

    border:1px solid rgba(255,255,255,0.08);

    border-radius:25px;

    padding:40px;

    transition:0.2s ease-out;
}

.about-card:hover,
.project-card:hover,
.family-card:hover,
.contact-card:hover{

    transform:
        perspective(1000px)
        rotateX(5deg)
        rotateY(-5deg)
        translateY(-10px);

    box-shadow:
        0 0 30px rgba(0,247,255,0.15);
}

.about-card h3,
.project-card h3{

    margin-bottom:20px;

    color:#ff00d4;

    font-size:1.5rem;
}

.about-card p,
.project-card p,
.family-card p{

    line-height:1.9;

    color:#f0f0f0;

    font-weight:500;
}

/* =========================
SKILLS
========================= */

.skill-card{

    background:
        linear-gradient(
            135deg,
            #00f7ff,
            #ff00d4
        );

    color:black;

    padding:25px;

    text-align:center;

    border-radius:20px;

    font-weight:800;

    transition:0.2s ease-out;
}

.skill-card:hover{

    transform:
        translateY(-10px)
        scale(1.05);
}

/* =========================
CONTACT
========================= */

.contact-card{

    text-align:center;
    
}

/* =========================
OFFLINE ICONS
========================= */

.emoji-icon{

    font-size:2.2rem;

    margin-bottom:20px;

    filter:
        drop-shadow(
            0 0 10px rgba(0,247,255,0.5)
        );

}

/* =========================
FOOTER
========================= */

footer{

    text-align:center;

    padding:30px;

    color:#d0d0d0;
}

/* =========================
RESPONSIVE
========================= */

@media (max-width:992px){

    .hero{

        text-align:center;
    }

    .hero-buttons{

        justify-content:center;
    }

    .hero-left h1{

        font-size:3.5rem;
    }

}

@media (max-width:768px){

    .nav-links{

        position:absolute;

        top:80px;

        right:-100%;

        width:250px;

        height:100vh;

        background:#0d1325;

        flex-direction:column;

        padding-top:50px;

        align-items:center;

        transition:0.4s;
    }

    .nav-links.active{

        right:0;
    }

    .menu-toggle{

        display:block;
    }

    .hero-left h1{

        font-size:2.7rem;
    }

    .image-container{

        width:300px;
        height:390px;
    }

}

@media (max-width:480px){

    .hero{

        padding-top:140px;
    }

    .hero-left h1{

        font-size:2.2rem;
    }

    .hero-left h2{

        font-size:1.1rem;
    }

    .image-container{

        width:260px;
        height:330px;
    }

}
/* REMOVE ICON LINK UNDERLINES */

.contact-card a{

    text-decoration:none;

    border:none;

    outline:none;

    color:inherit;

}

.contact-card a:hover{

    text-decoration:none;

}

.emoji-icon{

    display:inline-block;

}
/* LIGHT MODE */

body.light-mode{

    background:
        linear-gradient(
            135deg,
            #f4f7ff,
            #dde7ff,
            #eef3ff
        );

    color:#111827;
}

/* LIGHT NAVBAR */

body.light-mode .navbar{

    background:rgba(255,255,255,0.7);

}

/* LIGHT TEXT */

body.light-mode .hero-left h1,
body.light-mode .hero-left p,
body.light-mode .nav-links a,
body.light-mode .about-card p,
body.light-mode .project-card p,
body.light-mode .family-card p,
body.light-mode footer{

    color:#111827;
}

/* LIGHT CARDS */

body.light-mode .about-card,
body.light-mode .project-card,
body.light-mode .family-card,
body.light-mode .contact-card{

    background:rgba(255,255,255,0.65);

    border:1px solid rgba(0,0,0,0.05);

}

/* LIGHT SKILLS */

body.light-mode .skill-card{

    color:white;
}
/* LIGHT MODE ACCENT FIXES */

body.light-mode .logo{

    color:#0077ff;

    text-shadow:none;

    

}

body.light-mode .section-title{

    color:#0066ff;

    text-shadow:none;

}

body.light-mode .hero-left h3{

    color:#0077ff;
}

body.light-mode .hero-left h2{

    color:#d600a9;

    text-shadow:none;
}

/* CONTACT BUTTON FIX */

body.light-mode .secondary-btn{

    border:2px solid #0077ff;

    color:#0077ff;

    background:white;

}

body.light-mode .secondary-btn:hover{

    background:#0077ff;

    color:white;

}

/* NAVBAR HOVER */

body.light-mode .nav-links a:hover{

    color:#0077ff;

    text-shadow:none;

}

/* TOGGLE BUTTON */

body.light-mode .theme-toggle{

    background:white;

    color:#111827;

    border:1px solid rgba(0,0,0,0.1);

}
/* =========================
MOBILE FIX FINAL
========================= */

@media (max-width:768px){

    *{
        max-width:100%;
    }

    body{
        overflow-x:hidden;
    }

    /* NAVBAR */

    .navbar{

        padding:15px 20px;

    }

    .logo{

        gap:8px;

    }

    .logo-img{

        width:45px;
        height:45px;

    }

    .logo span{

        font-size:2rem;

    }

    .theme-toggle{

        width:42px;
        height:42px;

        font-size:1rem;

    }

    /* MOBILE MENU */

    .nav-links{

        position:fixed;

        top:75px;
        right:-100%;

        width:220px;

        height:100vh;

        background:#0b1225;

        flex-direction:column;

        align-items:center;

        justify-content:flex-start;

        gap:30px;

        padding-top:60px;

        transition:0.4s ease;

        z-index:999;

    }

    .nav-links.active{

        right:0;

    }

    .menu-toggle{

        display:block;

    }

    /* HERO */

    .hero{

        padding:
            140px 20px
            80px 20px;

        gap:40px;

        text-align:center;

    }

    .hero-left{

        width:100%;

    }

    .hero-left h1{

        font-size:3rem;

        line-height:1.1;

        word-break:break-word;

    }

    .hero-left h2{

        font-size:1.4rem;

        min-height:auto;

    }

    .hero-left h3{

        font-size:1.2rem;

        letter-spacing:2px;

    }

    .hero-left p{

        font-size:1rem;

        line-height:1.9;

        width:100%;

    }

    /* BUTTONS */

    .hero-buttons{

        width:100%;

        flex-direction:column;

        align-items:center;

        gap:18px;

    }

    .btn{

        width:100%;

        max-width:320px;

        text-align:center;

        padding:16px 20px;

        font-size:1rem;

    }

    /* IMAGE */

    .hero-right{

        width:100%;

    }

    .image-container{

        width:260px;
        height:330px;

    }

    /* SECTIONS */

    section{

        padding:80px 20px;

    }

    .section-title{

        font-size:2.2rem;

    }

    /* CARDS */

    .about-container,
    .project-grid,
    .contact-container,
    .skills-grid{

        grid-template-columns:1fr;

    }

    .about-card,
    .project-card,
    .family-card,
    .contact-card{

        width:100%;

        padding:28px;

        overflow:hidden;

    }

    .about-card h3,
    .project-card h3{

        font-size:1.3rem;

        word-break:break-word;

    }

    .about-card p,
    .project-card p,
    .family-card p,
    .contact-card p{

        width:100%;

        word-wrap:break-word;

        overflow-wrap:break-word;

        line-height:1.8;

        font-size:1rem;

    }

    /* FIX GITHUB BUTTON OVERFLOW */

    .project-card .btn,
    .contact-card .btn{

        width:100%;

        max-width:100%;

    }

}

/* EXTRA SMALL DEVICES */

@media (max-width:480px){

    .logo span{

        font-size:1.6rem;

    }

    .hero-left h1{

        font-size:2.4rem;

    }

    .hero-left h2{

        font-size:1.1rem;

    }

    .hero-left p{

        font-size:0.95rem;

    }

    .btn{

        font-size:0.95rem;

    }

    .section-title{

        font-size:1.8rem;

    }

}
